<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registeration Page</title>
</head>
<body>
    <div>
        <form action="/register" method="post">
            <label >Email
                <input type="text" name="email">
            </label>
            <br>
            <label >password
                <input type="password" name="password">
            </label>
            <br>
            <button type="submit">Register</button>
        </form>
    </div>
   
</body>
</html>